<app-layout>
  <app-side-nav>
    <bit-nav-logo [openIcon]="logo" route="." [label]="'passwordManager' | i18n"></bit-nav-logo>

    <bit-nav-item icon="bwi-vault" [text]="'vaults' | i18n" route="vault"></bit-nav-item>
    <bit-nav-item icon="bwi-send" [text]="'send' | i18n" route="sends"></bit-nav-item>
    <bit-nav-group
      icon="bwi-wrench"
      [text]="'tools' | i18n"
      route="tools"
      [open]="toolsNavGroupOpen()"
    >
      <bit-nav-item [text]="'generator' | i18n" route="tools/generator"></bit-nav-item>
      <bit-nav-item
        [text]="'importNoun' | i18n"
        route="tools/import"
        [bitPopoverAnchor]="importCoachmark"
        [popoverOpen]="importCoachmarkOpen()"
        [position]="coachmarkService.getStepPosition('importData')"
      ></bit-nav-item>
      <bit-popover
        #importCoachmark
        [title]="coachmarkService.getStepTitle('importData')"
        (closed)="coachmarkService.completeTour()"
      >
        <app-coachmark
          [description]="coachmarkService.getStepDescription('importData')"
          [currentStep]="coachmarkService.currentStepNumber()"
          [totalSteps]="coachmarkService.totalSteps()"
          [learnMoreUrl]="coachmarkService.getStepLearnMoreUrl('importData')"
          (back)="coachmarkService.previousStep()"
          (next)="coachmarkService.nextStep()"
        ></app-coachmark>
      </bit-popover>
      <bit-nav-item [text]="'exportNoun' | i18n" route="tools/export"></bit-nav-item>
    </bit-nav-group>
    <bit-nav-item
      icon="bwi-sliders"
      [text]="'reports' | i18n"
      route="reports"
      [bitPopoverAnchor]="reportsCoachmark"
      [popoverOpen]="reportsCoachmarkOpen()"
      [position]="coachmarkService.getStepPosition('monitorSecurity')"
    ></bit-nav-item>
    <bit-popover
      #reportsCoachmark
      [title]="coachmarkService.getStepTitle('monitorSecurity')"
      (closed)="coachmarkService.completeTour()"
    >
      <app-coachmark
        [description]="coachmarkService.getStepDescription('monitorSecurity')"
        [currentStep]="coachmarkService.currentStepNumber()"
        [totalSteps]="coachmarkService.totalSteps()"
        [learnMoreUrl]="coachmarkService.getStepLearnMoreUrl('monitorSecurity')"
        (back)="coachmarkService.previousStep()"
        (next)="coachmarkService.nextStep()"
      ></app-coachmark>
    </bit-popover>
    <bit-nav-group icon="bwi-cog" [text]="'settings' | i18n" route="settings">
      <bit-nav-item [text]="'myAccount' | i18n" route="settings/account"></bit-nav-item>
      <bit-nav-item [text]="'security' | i18n" route="settings/security"></bit-nav-item>
      @if (consolidatedSessionTimeoutComponent$ | async) {
        <bit-nav-item [text]="'appearance' | i18n" route="settings/appearance"></bit-nav-item>
      } @else {
        <bit-nav-item [text]="'preferences' | i18n" route="settings/preferences"></bit-nav-item>
      }
      <bit-nav-item
        [text]="'subscription' | i18n"
        route="settings/subscription"
        *ngIf="showSubscription$ | async"
      ></bit-nav-item>
      <bit-nav-item [text]="'domainRules' | i18n" route="settings/domain-rules"></bit-nav-item>
      @if (showEmergencyAccess()) {
        <bit-nav-item
          [text]="'emergencyAccess' | i18n"
          route="settings/emergency-access"
        ></bit-nav-item>
      }
      <billing-free-families-nav-item></billing-free-families-nav-item>
    </bit-nav-group>
  </app-side-nav>

  <router-outlet></router-outlet>
</app-layout>
